#提示信息前缀
prompt-prefix: '&a直播助手'

#全局配置
setting:
  #直播员名字
  recorder-name: Recorder
  #每个玩家的直播时间
  record-seconds: 15
  #判定为不活跃的时间
  inactivity-timeout: 5
  #镜头俯角
  camera-pitch: 45
  #镜头距离
  camera-distance: 3
  #自动为直播员添加的权限
  recorder-permission:
    #如果安装了多世界插件，这个一定要设置
    - mv.bypass.gamemode.*
    #领地插件传送和移动权限
    - residence.admin.*
  #给予上述权限所用的指令
  permission-command: 'lp user {recorder} permission set {permission} true'


#提示信息
message:
  reload-success: '&e配置信息重载成功'
  time-set: '&e每个玩家直播的时间设置成功'
  recorder-come: '&e恭喜你上镜啦， 快在镜头前秀波操作吧~'
  target-set: '&e已设置目标玩家为直播对象'
  recorder-set: '&e已设置目标玩家为直播录制者'
  invalid-player: '&e目标玩家不存在'
  second-reset: '&e重设成功， 将自动切换直播目标'
  action: '&b在线人数： {online}'
  boardcast:
   online: '&e直播开始啦， 全体做好上镜准备~'
   offline: '&e直播结束啦， 感谢小伙伴们的支持~'


