#提示信息前缀
prompt-prefix: '&a直播助手'

#存储配置
storage:
  mysql:
    #是否使用Mysql
    use: false
    #连接信息
    host: localhost
    port: 3306
    username: username
    password: password
    database: minecraft
    parameter: 'characterEncoding=utf-8&useSSL=false&autoReconnect=true'
    table_perfix: 'lr_'
    #如果设置为true，下次启动自动从Yaml导入数据到Mysql
    convert: false

#全局配置
setting:
  #使用第一人称视角
  first-perspective: false
  #直播员名字
  recorder-name: Recorder
  #每个玩家的直播时间
  record-seconds: 15
  #判定为不活跃的时间
  inactivity-timeout: 5
  #隐藏镜头位置
  hide-camera: false
  #展示玩家打开的容器
  show-inventory: true
  #镜头俯角
  camera-pitch: 45
  #镜头距离
  camera-distance: 3
  #重置镜头的移动距离
  camera-reset-distance: 50
  #自动为直播员添加的权限
  recorder-permission:
    #如果安装了多世界插件，这个一定要设置
    - mv.bypass.gamemode.*
    #领地插件传送和移动权限
    - residence.admin.*
  #给予上述权限所用的指令
  permission-command: 'lp user {recorder} permission set {permission} true'

#提示信息
message:
  reload-success: '&e配置信息重载成功'
  record-switch: '&e当前直播状态： {status}'
  time-set: '&e每个玩家被直播的时间设置成功'
  recorder-come: '&e恭喜你上镜啦， 快在镜头前秀波操作吧~'
  target-set: '&e已设置目标玩家为直播对象'
  recorder-set: '&e已设置目标玩家为直播录制者'
  invalid-player: '&e目标玩家不在线或非活跃'
  no-recorder: '&e录制者未在线, 无法设置直播目标'
  second-reset: '&e重设成功， 将自动切换直播目标'
  toggle-set: '&e设置成功, 你将 {status} &e被直播'
  action: '&b在线人数： {online}'
  boardcast:
    online: '&e直播开始啦， 全体做好上镜准备~'
    offline: '&e直播结束啦， 感谢小伙伴们的支持~'
  toggle-status:
    accept: '&a会'
    denied: '&c不会'
  record-status:
    open: '&a开'
    close: '&c开'

#帮助信息
help:
  switch: '&e开关当前服务器的直播'
  target: '&e设置目标玩家为直播对象'
  time: '&e设置每个玩家被直播的时间(单位：秒)'
  recorder: '&e设置目标玩家为直播录制者'
  reset: '&e重设直播时间, 将自动切换直播目标'
  toggle: '&e设置自己是否会被直播(玩家使用)'
  reload: '&e重载插件配置文件'
